{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.email_address }}</h4>
            </div>
            <div class="card-body">
                <h4 class="card text">Ф.И.О.: {{ object.name_fio }}</h4>
                <p class="card text">Комментарий: {{ object.comment }}</p>
                <p class="card text">{{ object.owner }}</p>
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:recipient_mails' %}">Назад</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
