{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Пользователи</h1>
</div>

<div class="row text-center">
    {% for item in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ item.email }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ item.phone }}</h2>
                <p class="card text">
                    {{ item.country | truncatechars:64 }}
                </p>
                {% if user.is_authenticated %}
                <div class="btn-group">
                    {% if perms.mailing.can_stop_dispatch %}
                    <a class="btn btn-md btn-block btn-outline-primary" href="{% url 'users:user_profile_update' item.pk %}">Забанить</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
